<div class="container-bad">
	<div class="picture-bad"><img src="img/pic-bad.png"></div>
	<div class="title">
		<p class="big-title">Населеннный пункт</p>
	<p class="small-title">Площадь дома: 125 м2</p>
	<p class="big-title">7 000 000 руб</p>
	<p class="small-title text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam <br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam </p>
	</div>
	<div class="footer-line">
		<p class="small-title line">Подробнее</p>
	</div>
</div>
<div class="container-bad">
	<div class="picture-bad"><img src="img/pic-bad.png"></div>
	<div class="title">
		<p class="big-title">Населеннный пункт</p>
	<p class="small-title">Площадь дома: 125 м2</p>
	<p class="big-title">7 000 000 руб</p>
	<p class="small-title text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam <br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam </p>
	</div>
	<div class="footer-line">
		<p class="small-title line">Подробнее</p>
	</div>
</div>
<div class="container-bad">
	<div class="picture-bad"><img src="img/pic-bad.png"></div>
	<div class="title">
		<p class="big-title">Населеннный пункт</p>
	<p class="small-title">Площадь дома: 125 м2</p>
	<p class="big-title">7 000 000 руб</p>
	<p class="small-title text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam <br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam </p>
	</div>
	<div class="footer-line">
		<p class="small-title line">Подробнее</p>
	</div>
</div>
<div class="container-bad">
	<div class="picture-bad"><img src="img/pic-bad.png"></div>
	<div class="title">
		<p class="big-title">Населеннный пункт</p>
	<p class="small-title">Площадь дома: 125 м2</p>
	<p class="big-title">7 000 000 руб</p>
	<p class="small-title text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam <br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam </p>
	</div>
	<div class="footer-line">
		<p class="small-title line">Подробнее</p>
	</div>
</div>