<div class="container-newhome">
	<div class="wrap-logo"></div>
	<div class="logo"></div>
	<p class="bigger-title">Новый Дом</p>
	<p class="big-title blue">Самое честное агенство</p>
	<p class="sub-title last">Мы подберем дом Вашей мечты в кратчайщие сроки и по приемлемой цене! 
	<div class="footer-line new">
		<a href="#"><p class="small-title line">Перейти к каталогу</p>
	</div>	
	<div class="footer-line new">
		<a href="#"><p class="small-title line">Наши услуги</p></a>
	</div>
	<div class="icon icon-arrow"></div>
</div>