<div class="container-uslugi">
	<h1 class="title-main">Услуги</h1>
	<div class="box-uslugi">
		<a href="#">
			<p class="icon icon-case"></p>
			<p class="sub-title-uslugi">Юридическое сопровождение<br>
			 сделки купли-продажи</p>
		</a>
	</div>
	<div class="box-uslugi">
		<a href="#">
			<p class="icon icon-money"></p>
			<p class="sub-title-uslugi">Возможность использовать <br>
			 материнский капитал
			</p>
		</a>
	</div>
	<div class="box-uslugi">
		<a href="#">
			<p class="icon icon-key"></p>
			<p class="sub-title-uslugi">Помощь в продаже<br>
			 недвижимости</p>
		</a>
	</div>
	<div class="box-uslugi">
		<a href="#">
			<p class="icon icon-house"></p>
			<p class="sub-title-uslugi">Помощь в получении ипотеки<br>
			 с/без первоначального взноса</p>
		</a>
	</div>
	<div class="box-uslugi">
		<a href="#">
			<p class="icon icon-men"></p>
			<p class="sub-title-uslugi">Гарантированное прохождение<br>
			 опеки</p>
		</a>
	</div>
	<div class="box-uslugi">
		<a href="#">
			<p class="icon icon-hands"></p>
			<p class="sub-title-uslugi">Рассмотрение вариантов<br>
			 взаиморасчета</p>
		</a>
	</div>
	
</div>