.container-catalog {
	background-color: #2e7cb0;
	max-width: 100%;
	width:600px;
}
.wrap-line {
	margin:0 auto;
}
.styleline{
	width: 490px;
	height: 30px;
	margin-bottom: 8px;
	background-color: #3e91c9;
	margin-left: 55px;
}
.styleline:hover {
	background-color: #d43838;
}
.catalog-text {
	font-size: 18px;
	line-height: 30px;
	color: white;
	text-align: center;
}